
<div class="footer-section">

    <div class="importatnt-links">
        <div class="footter-logo-section">
            <h1><a href="/" style="text-decoration:none; color:#fff; cursor:pointer;">ShoppingApp</a></h1>
            <h5>we make your day!</h5>
            <p>since 2024</p>
        </div>

        <div class="footer-link-section importent-links">
            <h4>Services</h4>
            <a href="#">Selles</a>
            <a href="#">Buy Products</a>
            <a href="#">Customer Services</a>
            <a href="#">Selles</a>
        </div>

        <div class="footer-link-section importent-links">
            <h4>Products</h4>
            <a href="#">Trending</a>
            <a href="#">New Arraivels</a>
            <a href="#">Electronic</a>
            <a href="#">Costume</a>
        </div>

        <div class="footer-link-section">
            <h4>Contacts</h4>
            <div class="footer-address-section">
                <i class="bi bi-geo"></i>
                <div>
                    <address>No:23/12,</address>
                    <address>Colombo 05,</address>
                    <address>Sri Lanka,</address>
                    <address>+94-771-234-432</address>
                </div>
            </div>
            <div class="footer-address-section">
                <i class="bi bi-envelope"></i>
                <p>shoppingapp@shopping.au </p>
            </div>

            <div class="footer-social-links">
                <a href="#">
                    <i class="bi bi-facebook"></i>
                </a>


                <a href="#">
                    <i class="bi bi-whatsapp"></i>
                </a>


                <a href="#">
                    <i class="bi bi-twitter-x"></i>
                </a>


                <a href="#">
                    <i class="bi bi-instagram"></i>
                </a>


                <a href="#">
                    <i class="bi bi-tiktok"></i>
                </a>
            </div>


        </div>
    </div>
    <p class="footer-end-line">All right Reserved@ShoppingApp Co.LTD    since 2024</p>
</div>

@code {
  

}
