@inherits LayoutComponentBase
@inject NavigationManager Navigation
<link rel="stylesheet" href="/css/Footer.css" />
<Toasts class="toast-custom" Style="padding-top:90px; padding-right:20px;" AutoHide="true" Delay="2000" StackLength="2" Placement="ToastsPlacement.TopRight" />

<div class="page">
    <main>

        @if (showNavBar)
        {
            <NavBarComponent />
        }


        <article class="content">
            @Body
        </article>

        <AuthorizeView>
            <Authorized>
                <PaymentHistory />
            </Authorized>
        </AuthorizeView>
        
        @if(showNavBar)
        {
            <FooterSection />
        }
        
    </main>
    
</div>





@code
{

    private bool showNavBar = true;

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
        UpdateNavBarVisibility(Navigation.Uri);
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        UpdateNavBarVisibility(e.Location);
    }

    private void UpdateNavBarVisibility(string uri)
    {
        // Update this logic to match your actual login and signup URLs
        showNavBar = !uri.Contains("login") && !uri.Contains("signup");
        StateHasChanged(); // Trigger re-render
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }

}