body {
    background-color: #efefef;
    font-family: 'Poppins', sans-serif;
}
.order-details-container
{
    width:100%;
}

.order-details-container img{
    width:200px;
    height:100px;
    object-fit:contain;
}

.order-details-container  div p 
{
    margin:0 !important;
    padding:0 !important;
}