@page "/thank-you"
@attribute [Authorize]
<link rel="stylesheet" href="/css//ThnakYou.css"/>


<div class="main-thankz-container">
    <div class="thankz-container">
        

        <div class="msg-thankz">
            <h2>Thank You!</h2>
            <p>
                Your payment has been successfully processed. We appreciate your business!
                You will receive an <a style="color:#ff4500; font-weight:500;">email </a> shortly with your order details.
            </p>
            <a class="goback-btn" href="/">Continue Shopping</a>
        </div>
        <div class="image-thankz">
            <img src="/new-message.png" alt="" width="500" />
        </div>
    </div>

</div>

@code {

}
